/* .content {
  background-image: url('../../images/back_intro_green.png');
  background-repeat: no-repeat;
  background-position: right 0% bottom 45%;
  background-size: auto;
  outline: 1px solid green;
} */
