.why-us__title {
  font-size: 78px;
  font-weight: 700;
  line-height: 88px;
  text-transform: uppercase;
  max-width: 790px;
  margin: 0 0 65px 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .why-us__title {
    font-size: 24px;
    line-height: 28px;
    max-width: 248px;
    margin-bottom: 46px;
  }
}
