.products__offer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.products__offer-list:first-of-type {
  margin-bottom: 22px;
}

@media screen and (max-width: 768px) {
  .products__offer-list {
    margin-bottom: 38px;
  }
  .products__offer-list:first-of-type {
    margin-bottom: 16px;
  }
}
