.info__vk-icon {
  width: 40px;
  height: 40px;
  background-image: url(../../../images/VK.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.info__vk-icon:hover {
  background-image: url(../../../images/VK_hover.png);
  transition: background-image .3s;
}

@media screen and (max-width: 768px) {
  .info__vk-icon {
    width: 20px;
    height: 20px;
  }
}
