.header__menu-link_bordered {
  border: 1px solid #FFF;
  border-radius: 21px;
  padding: 9px 26px;
  min-width: 134px;
  min-height: 42px;
  opacity: 1;
}

.header__menu-link_bordered:hover {
  background-color: #FFF;
  color: #272727;
  transition: color .3s, background-color .3s;
}

